<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorFinder">
        <activity
            android:name=".ui.user.search.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.search.SearchBoxActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.profile.DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.schedule.SelectCenlendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.schedule.SchedulingInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.schedule.ConfirmAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.chat.ChatBoxActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
